@charset "UTF-8";

ul#album-fotos {
    width: 700px;
    margin: 0 auto;
    padding: 50px;
    overflow: hidden;
    list-style: none; /*não aparece o pontinho na frente de cada item da lista*/
}

ul#album-fotos li{
    float: left; /*Cada foto ficará uma ao lado da outra*/
    width: 200px;
    height: 200px;
    margin: 10px;
    border: 5px solid white;
    background-color: #ffffff;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, .4);
    transition: all .3s ease-in; /*controla o tempo de cada efeito nessa parte*/
}

ul#album-fotos li span{
    opacity: 0;  /*para não aparecer a legenda preta em cima da foto*/
    color: white;
    text-shadow: 1px 1px 1px #000000;
    background-color: rgba(0, 0, 0, .3);
    font-size: 9pt;
    line-height: 370px; /*Faz com que alegenda fique embaixo*/
    padding: 5px; /*largura do fundo da legenda*/
}

ul#album-fotos li:hover {
    transform: scale(1.5); /*Para dar o zoom para fora de cada padding de cada foto*/
}

ul#album-fotos li:hover span{
    opacity: 1; /*Quando passar o mouse irá aparecer a legenda*/
}

ul#album-fotos li#foto01 {
    background: url('../_imagens/galeria-01.jpg') no-repeat;
    background-position: 50% 50%; /*Muda o posicionamento da imagem, ou seja, no álbum será mostrado o meio da imagem*/
    background-size: 400px 400px ;/*Tamanho da imagem de fundo*/
    background-color: white;
}

ul#album-fotos li#foto01:hover { /*Criar o efeito zoom na foto*/
    background-position: 0px 0px;
    background-size: 200px 200px;  /*tamanho original da foto*/
}

ul#album-fotos li#foto02 {
    background: url('../_imagens/galeria-02.jpg') no-repeat;
    background-position: 50% 50%;
    background-size: 400px 400px ;
    background-color: white;
}

ul#album-fotos li#foto02:hover {
    background-position: 0px 0px;
    background-size: 200px 200px; 
}

ul#album-fotos li#foto03 {
    background: url('../_imagens/galeria-03.jpg') no-repeat;
    background-position: 50% 50%;
    background-size: 400px 400px ;
    background-color: white;
}

ul#album-fotos li#foto03:hover {
    background-position: 0px 0px;
    background-size: 200px 200px; 
}

ul#album-fotos li#foto04 {
    background: url('../_imagens/galeria-04.jpg') no-repeat;
    background-position: 50% 50%;
    background-size: 400px 400px ;
    background-color: white;
}

ul#album-fotos li#foto04:hover {
    background-position: 0px 0px;
    background-size: 200px 200px; 
}

ul#album-fotos li#foto05 {
    background: url('../_imagens/galeria-05.jpg') no-repeat;
    background-position: 50% 50%;
    background-size: 400px 400px ;
    background-color: white;
}

ul#album-fotos li#foto05:hover {
    background-position: 0px 0px;
    background-size: 200px 200px; 
}

ul#album-fotos li#foto06 {
    background: url('../_imagens/galeria-06.jpg') no-repeat;
    background-position: 50% 50%;
    background-size: 400px 400px ;
    background-color: white;
}

ul#album-fotos li#foto06:hover {
    background-position: 0px 0px;
    background-size: 200px 200px; 
}

